body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

tr {
  line-height: 24px;
}

tbody tr .action > * {
  visibility: hidden;
}
tbody tr:hover .action > * {
  visibility:visible;
}

.tableLastOrders thead {
  display:table;
  width:100%;
  table-layout:fixed;
}

.tableLastOrders tbody {
  display:block;
  height:124px;
  overflow:auto;
}
.tableLastOrders tbody tr{
  display:table;
  width:100%;
  table-layout:fixed;
}
.tableLastOrders tbody tr td, .tableLastOrders tbody tr th{
  padding: 0.25rem;
}

.freeze_order{
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url("/images/frozen.png");
  background-size: 24px 24px;
}

.frozen_order{
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url("/images/unfreeze.png");
  background-size: 24px 24px;
}

.kill_order{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("/images/kill_off.png");
  background-size: 24px 24px;
}

tbody tr .kill_order:hover{
  background-image: url("/images/kill.png");
  background-size: 24px 24px;
}

.kill_order_active{
  display: inline-block;
  visibility:visible;
  width: 24px;
  height: 24px;
  background-image: url("/images/kill.png");
  background-size: 24px 24px;
}